<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common" version="3.9.46" targetFramework="net40-Client" />
  <package id="ServiceStack.OrmLite.Sqlite32" version="3.9.45" targetFramework="net40-Client" />
  <package id="ServiceStack.Text" version="3.9.46" targetFramework="net40-Client" />
  <package id="System.Data.SQLite" version="1.0.85.0" targetFramework="net40-Client" />
</packages>